<!
DOCTYPE html> <html> <head> <meta http-equiv ="Content-type " content
	 ="text /html;charset=UTF-8"/> <title>Testenvironmentsmanagement -
	Error
	 </title> <link href ='http: //fonts.googleapis.com
	/css?family=Raleway' rel
	 ='stylesheet ' type ='text /css'> <style>* {
	margin: 0;
	padding: 0;
	font-family: "Raleway";
}

html, body {
	width: 100%;
	height: 100%;
}

#wrapper {
	display: block;
	position: relative;
	float: left;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border-top: 40px solid #F15E2A;
	border-bottom: 40px solid #F15E2A;
}

#text {
	display: block;
	position: relative;
	float: left;
	width: 80%;
	height: auto;
	margin: 40px 10%;
	font-size: 30px;
	color: #004689;
	font-weight: bold;
	text-align: center;
}
</
style
>
</
head
>
<
body
>
<
div

 

id


="
wrapper
"
>
<
center
>
<
img

 

src


="
http


:
//testenvironmentbookings


.com
/theme/default/images/logo_split_logo


.png


"
style


="
margin-top


:


40
px
;"
>
<
span

 

id


="
text
"
>
ERROR

 

404
-
File

 

not

 

found


                

</
span
>
</
center
>
</
div
>
</
body
>
</
html
>